:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #66FFFF;
}

.to-do-window {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 360px;
}

h1 {
    margin: 0;
    font-family: "Roboto", serif;
}

h2 {
    margin: 0;
    font-family: "Roboto", serif;
}

input {
    padding: 5px 100px 5px 5px;
}

button {
    padding: 5px;
}

form {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    list-style-type: none;
    background-color: #EFEFB8;
    margin-bottom: 5px;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-content: start;
}

.li-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    border-top: 1px solid black;
}

.todo-text {
    margin-right: 20px;
}