:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.counter-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: 0;
    gap: 10px;
}

.counter-text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}


.counter-value {
    font-size: 50px;
    font-weight: 600;
}