html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background-color: #fafafa;
    color: #424242;
    display: flex;
    flex-direction: column;
}

.app.dark {
    background-color: #424242;
    color: #fafafa;
}