:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: #fafafa;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: #9e9e9e;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}


.todo-block {
    border: 1px solid black;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dark.app .todo-block {
    background-color: #424242;
}

h1 {
    color: #424242;
}

.app.dark h1 {
    color: #fafafa;
}

input {
    border: 1px solid #424242;
    background-color: #fafafa;
    color: #424242;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
}

.app.dark input {
    border: 1px solid #fafafa;
    background-color: #424242;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
}

.input-class {
    display: flex;
    gap: 10px;
}

li {
    color: #424242;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.app.dark li {
    color: #fafafa;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.todo-point {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    border: 1px solid #424242;
}

.app.dark .todo-point {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    border: 1px solid #fafafa;
}

.app.dark .button-dark {
    background-color: #fafafa;
    color: #424242;
}

.contact-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #424242;
}

.contacts-content {
    color: #424242;
    justify-content: center;
}

.app.dark .contact-page {
    background-color: #424242;
    border: 1px solid #fafafa;
}

.app.dark .contacts-content {
    color: #fafafa;
}