$color_1: white;
$font-family_1: "Roboto", serif;
$background-color_1: black;

body {
    background-color: $background-color_1;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.weather-block {
    display: flex;
    background-color: $background-color_1;
    padding-top: 20px;
    gap: 50px;
}
.left-block {
    padding-left: 30px;
}
#currentDay {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 24px;
    color: $color_1;
    margin: 0;
}
.alarm-and-battery {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.alarm {
    display: flex;
    gap: 5px;
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    color: $color_1;
}
.battery {
    display: flex;
    gap: 5px;
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    color: $color_1;
}
#currentTime {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 42px;
    margin: 0 0 20px 0;
    color: $color_1;
}
#humidityApi {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 5px 0;
    color: $color_1;
}
#pressureApi {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    color: $color_1;
}
#windApi {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    color: $color_1;
}
#temperatureApi {
    font-family: $font-family_1;
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 20px 0;
    color: $color_1;
}
#feelsLikeApi {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 5px 0;
    color: $color_1;
}
#weatherApi {
    font-family: $font-family_1;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: $color_1;
}
.right-center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#refreshApiDate {
    font-family: $font-family_1;
    font-weight: normal;
    font-size: 16px;
    color: $color_1;
}
.right-block-refresh {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 30px;
}
