.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fafafa;
}

.app.dark .header {
    background-color: #424242;
}

.header-inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: #424242;
}

.app.dark .nav-link {
    text-decoration: none;
    color: #fafafa;
}

.active {
    border-bottom: 2px solid #424242;
}

.app.dark .active {
    border-bottom: 2px solid #fafafa;
}

.theme-toggle {
    background-color: #424242;
}

.app.dark .theme-toggle {
    background-color: #fafafa;
    color: #424242;
}